.footer-div {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    gap: calc(var(--spacing) * 10);
    margin-top: calc(var(--spacing) * 28);
    margin-inline: calc(var(--spacing) * 20);
    border-top-width: 2px;
    border-color: var(--color-primary);
    padding-inline: calc(var(--spacing) * 20);
    padding-block: calc(var(--spacing) * 10);

  }

  .icon-hover:hover {
    color: black;
  }
 
  .footer-navs {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 3);

    h2, p{
      color: var(--color-primary);
    }
    p:hover {
      color: var(--color-primary-hover);
    }

    h2 {
      font-weight: var(--font-weight-semibold);
      font-size: var(--text-2xl);
    }

    p {
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);
    }
  }
